body {
  margin: 0px;
}

/* Header */
header {
  font-size: 25px;
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 70px;
  border-bottom: solid black 2px;
  border-right: solid black 3px;
  font-family: Georgia, serif;
}

.title {
  display: inline-flex;
  flex-grow: 1;
  padding-left: 10px;
}

header nav {
  color: black;
  font-size: 14px;
  padding-right: 30px;
}

nav span {
  display: inline-block;
  padding-right: 10px;
  border-right: solid black 2px;
  margin-right: 10px;
  font-size: 18px;
}

.lastlink {
  border-right: none;
  padding-right: 0px;
  margin-right: 0px;
}

/* Content */
.content {
  font-family: calibri;
  padding-top: 90px;
  padding-left: 10px;
  font-family: Georgia, serif;
}

/* Content Heading */
.heading {
  display: flex;
}

.name {
  display: inline-flex;
  flex-grow: 1;
  font-size: 20px;
}

.allresumelinks {
  padding-right: 30px;
}

.resumelinks {
  font-size: 14px;
}

.resumelink {
  font-size: 14px;
  display: inline-block;
  padding-right: 0px;
  border-right: none;
  margin-right: 0px;
}

/* Main Content */
